html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
:root {
    --h1-headline-text-color: #ffffff;
    --h-headline-text-color: #212121;
    --primary-text-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --address-text-color: #ffffff;
    --website-color: rgba(64, 75, 191, 1);
    --color-header: #000000;
    --button-color: #f5f4f2;
    --footer-bg-color: rgba(46, 47, 66, 1);
}
body {
    font-family: 'Roboto', sans-serif;
    }
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.logo {
    /* padding-left: 60px; */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3px;
    letter-spacing: 0.03em;
    color: var(--website-color);
}
.logo-header {
    color: var(--color-header);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3px;
    letter-spacing: 0.03em;
}
.menu-icon-open{
    stroke: rgba(46, 47, 66, 1);
}
.menu-open{
    width: 32px;
    height: 22px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.logo-footer {
    color: var(--address-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3px;
    letter-spacing: 0.03em;
}
.logo {
    text-decoration: none;
}
.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-------------------------HEADER-------------------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 1200px; */
}
/* page-header */
.container-nav,
.contacts-list.list{
    display: none;
}
.mob-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #FFFFFF;
} 
.menu-close {
    display: flex;
    position: relative;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
    margin-left: auto;
}
.menu-close-icon{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;   
}
.mob-menu >.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.mob-site{
    align-items: center;
}
.mob-menu-list{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 40px;
}
.mob-tel{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-transform: capitalize;
    color: #4D5AE5;
}
.mob-mail{
    display: block;
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #434455;
}
.mob-soc{
    display: flex;
    align-items: center;
    gap: 56px;
}
.mob-soc-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 44px;
    height: 44px;
    color:#FFFFFF;
    border-radius: 50%;
    background-color: rgba(77, 90, 229, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-soc-link:hover,
.mob-soc-link:focus {
    color:#FFFFFF;
    background-color: rgba(64, 75, 191, 1);
}
.mob-soc-icon {
    fill: currentColor;
}
/* .page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--address-text-color);
    border-bottom: 1px solid #ECECEC;
}
.cnt-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.site {
    display: flex;
    align-items: center;
    margin-left: 76px;
}
.nav-item {
    margin-right: 50px;
}
.nav-item:last-child {
    margin-right: 0px;
}
.list .current {
    color: rgba(64, 75, 191, 1);
}
.current {
    position: relative;
}
.current::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    background: rgba(64, 75, 191, 1);
    border-radius: 2px;
    left: 0;
    bottom: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.list .active {
    color:#f5f4f2;
}
.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--h-headline-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link:hover,.link:focus {
    color: rgba(64, 75, 191, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-text-color);
}
.header:hover, .header:focus {
    color: var(--website-color);
}
.nav-item {
    color: var(--h-headline-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
} */
/* contacts */
/* .contacts-list {
    display: flex;
    margin-left: auto;
    padding-left: 332px;
}
.contacts-list li{
    margin-right: 50px;
    margin-left: auto;
}
.contacts-list li:last-child {
    margin-right: 15px;
}
.header-icon {
    fill: currentColor;
} */

/* page-main hero */
.container-hero {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    /* background-color: #2f303a; */
    /* outline: 2px solid tomato; */
}
.title {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--address-text-color); 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* width: 1200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em; */
    
}
.list.title {
    color: var(--h-headline-text-color);
}
/* container-about */
.section {
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--address-text-color);
}
.about>li {
    min-width: 270px;
    
}
.about {
    display: flex;
    flex-wrap: wrap;
    min-width: 270px;
    gap: 24px;
    margin-top: 0px;
}
.about>.icon {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.titleses {
    color: var(--h-headline-text-color);
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-work{
    display: none;
}
/* container-work */
/* .work {
    display: flex;
    gap: 30px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.container-work .list {
    display: flex;
}
.section-work {
    padding-bottom: 94px;
}
.work-thumb {
    position: relative;
    overflow: hidden;
} */
/* page-team */
.page-team {
    padding-top: 94px;
    padding-bottom: 94px;
    
    background-color: #F5F4FA;
}
.cnt-team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 44px;
    height: 44px;
    color:#FFFFFF;
    border-radius: 50%;
    background-color: rgba(77, 90, 229, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
    color:#FFFFFF;
    background-color: rgba(64, 75, 191, 1);
}
.socials-icon {
    fill: currentColor;
}
/* clients */
.clients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 72px;
    gap: 16px;
}
.clients-link {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    width: 170px;
    height: 92px;
    align-items: center;
    background-color: #ffffff;
    color: #AFB1B8 ;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.clients-link:hover,
.clients-link:focus {
    color: rgba(64, 75, 191, 1);
    border-color: rgba(64, 75, 191, 1);
}
.clients-icon {
    fill: currentColor;
}
/* page-footer */
.container-footer {
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

/* no lo so */
.photo-cards {
    background: var(--address-text-color);
    border: 1px solid #EEEEEE;
}
.photo-thumb {
    position: relative;
    overflow: hidden;
}
.text-description {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 40px 23px;
    
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-thumb:hover .text-description{
    background: rgba(77, 90, 229, 1);
    transform: translateY(0%);
    opacity: 1;
}

.container-photo {
    background-color: #F5F5F5;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.container-photo {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato;
    background-color: tomato; */
    display: flex;
    flex-wrap: wrap;
}
.container-photos {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato;
    background-color: tomato; */
}
.container-buttom {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}
/* ------------------------------------------------------------------------ */
/*-------------------HERO---------------------*/

.list>.maps {
    margin-top: 20px;
}
.titles {
    color: var(--h-headline-text-color);
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.subtitledescription {
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.page-main {
    text-align: center;
    background-color: #2f303a;
    padding-bottom: 112px;
    padding-top: 112px;
    /* padding-left: 15px;
    padding-right: 15px; */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg),
    url(../images/people.jpg);
    background-position: center;
    background-size: cover;

}
.main {
    text-align: center;
}
.button {
    display: inline-block;
    color: var(--address-text-color);
    background-color: rgba(77, 90, 229, 1);
    padding: 10px 32px;
    align-items: center;
    min-width: 169px;
    height: 50px;
    margin-bottom: 30px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    
    letter-spacing: 0.06em;
    border:none;
    border-radius: 4px;
    border-color: var(--website-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-item {
    display: inline-block;
    color: var(--h-headline-text-color);
    background-color: #F5F4FA;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border:none;
    border-radius: 4px;
    border-color: #F5F4FA;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container-about>.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.button:hover, .button:focus {
    color: var(--address-text-color);
    background-color: rgba(64, 75, 191, 1);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.button-item:hover, .button-item:focus {
    color: var(--address-text-color);
    background: var(--website-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.description {
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;   
}
.subtitles {
    color: var(--primary-text-color);
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 26px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: #434455;

}
.name-people {
    color: var(--h-headline-text-color);
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/*----------------FOOTER------------------------*/
footer {
    background-color: var(--footer-bg-color);
}
.footer {
    display: block;
    color: var(--footer-text-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    max-width: 264px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 9px;
}
.container-footer-clients {
    margin-bottom: 40px;
    align-items: center;
    padding-right: 80px;
}
.double-container-footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 70px;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}
.page-footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

}
.people-card {
    padding-top: 30px;
    padding-bottom: 30px;
}
.list-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0px;
    padding: 0px;
    
}
.card {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.photo-description {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    justify-content: center;
    margin-top: 0px;
}
.photo-description :nth-child(3n) {
    margin-right: 0px;
}
.button-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 8px;
    margin-bottom: 50px;
}
.photo-cards {
    border: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list .current{
    color: rgba(64, 75, 191, 1);
}
.title-footer {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    padding-bottom: 20px;
    
}
.socials-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}
.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 44px;
    height: 44px;
    color:rgba(244, 244, 253, 1);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-link:hover,
.footer-link:focus {
    color: rgba(244, 244, 253, 1);
    background-color: rgba(49, 208, 170, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-icon {
    fill: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sheet:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 24px;
    transform: translateX(-50%) translateY(-50%);
    width: 408px;
    height: 584px; 
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-bottom: 24px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .icon-closer {
    fill: rgba(255, 255, 255, 1);
}
.modal-btn:hover {
    background-color: #404BBF;
}
.icon-closer {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-label {
    display: block;
    text-align: center;
    margin-top: 48px;
    padding-bottom: 14px;
}
.modal-form-label {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #8E8F99;
    margin-bottom: 4px; 

}
.modal-form-field {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0;
    padding-left: 38px;
    outline: none;
}
.modal-form-field:focus {
    border-color:rgba(77, 90, 229, 1) ;
}


.modal-form-wrapper {
    position: relative;
    margin-bottom: 8px;
}
.modal-form-icon {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 15px;
    padding: 0;
    color:  #2E2F42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:focus + .modal-form-icon {
    fill: rgba(77, 90, 229, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    padding: 8px 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
    border-color:rgba(77, 90, 229, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.policy {
    display: flex;
    gap: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
}
.policy span {
    width: 16px;
    height: 16px;
    border: 1.25px solid rgba(46, 47, 66, 1);
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.group-check {
    margin-top: 16px;
}
.modal-form-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 84px;
    padding-right: 84px;
    background-color: rgba(77, 90, 229, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: rgba(77, 90, 229, 1);
    border-radius: 4px;
    margin-left: 22%;
    margin-top: 24px;  
    cursor: pointer;
}

.modal-form-checkbox:checked + .policy span {
    background: #404BBF;
    border: 1.25px solid #404BBF;
    border-radius: 2px;
    fill: rgba(244, 244, 253, 1);
}
.footer-form-label {
    display: block;
    
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}
.footer-form-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color:transparent;
    outline: none;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: #ECECEC;
    
}
.footer-form-input::placeholder {
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2px;
    margin-top: 8px;
}
.footer-btn {
    display: inline-block;
    position: absolute;
    width: 165px;
    height: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px;
    padding-left: 0px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border:none;
    color: rgba(255, 255, 255, 1);
    background: #4D5AE5;
    border-radius: 4px;
    cursor: pointer;
}
.footer-form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 117px;
    fill: #FFFFFF;
}
.btn-icon {
    display: inline-block;
    position: relative;
}
.form-footer-sub {
    display: flex;
    gap: 24px;
}
.pr-policy {
    color: #4D5AE5;
}
/* Media */
@media screen and (min-width:480px) {
    .container {
        max-width: 428px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .logo{
        padding-left: 16px;
    }
}
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .page-header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--address-text-color);
        border-bottom: 1px solid #ECECEC;
    }
    .cnt-head {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .site {
        display: flex;
        align-items: center;
        margin-left: 76px;
    }
    .nav-item {
        margin-right: 50px;
    }
    .nav-item:last-child {
        margin-right: 0px;
    }
    .list .current {
        color: rgba(64, 75, 191, 1);
    }
    .current {
        position: relative;
    }
    .current::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 100%;
        height: 4px;
        background: rgba(64, 75, 191, 1);
        border-radius: 2px;
        left: 0;
        bottom: 0;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .list .active {
        color:#f5f4f2;
    }
    .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--h-headline-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .link:hover,.link:focus {
        color: rgba(64, 75, 191, 1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mob-menu{
        display: none;
    }
    .socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 44px;
        height: 44px;
        color:#FFFFFF;
        border-radius: 50%;
        background-color: rgba(77, 90, 229, 1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .socials-link:hover,
    .socials-link:focus {
        color:#FFFFFF;
        background-color: rgba(64, 75, 191, 1);
    }
    .socials-icon {
        fill: currentColor;
    }
    .clients {
        gap: 24px;
    }
    .clients-link {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        width: 168px;
        height: 88px;
        align-items: center;
        background-color: #ffffff;
        color: #AFB1B8 ;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .clients-link:hover,
    .clients-link:focus {
        color: rgba(64, 75, 191, 1);
        border-color: rgba(64, 75, 191, 1);
    }
    .clients-icon {
        fill: currentColor;
    }
    .header {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--primary-text-color);
    }
    .header:hover, .header:focus {
        color: var(--website-color);
    }
    .nav-item {
        color: var(--h-headline-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    /* contacts */
    .contacts-list {
        display: flex;
        margin-left: auto;
        padding-left: 332px;
    }
    .contacts-list li{
        margin-right: 50px;
        margin-left: auto;
    }
    .contacts-list li:last-child {
        margin-right: 15px;
    }
    .header-icon {
        fill: currentColor;
    }
    .page-main{
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),url(../images/hero-bg-tab.jpg);
    }
    .about.list{
        row-gap: 72px;
        justify-content: left;
    }
    .subtitles {
        width: 356px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1158px;
    }
    
    .list-card {
        flex-wrap: nowrap;
    }
    .about{
        flex-wrap: nowrap;
    }
    .about>li {
        width: calc((100%-30px)/2);
    }
    .titleses{
        text-align: left;
        font-size: 20px;
        line-height: 1.2;
        color: #2E2F42;
    }
    .subtitles{
        width: 100%;
        font-weight: 400;
    }
    .page-main{
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),url(../images/people.jpg);
    }
    .icon.antenna::before {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../icons.svg/antenna.svg);
    }
    .icon::before {
        display: block;
        background-color:#F5F4FA;
        content: '';
        height: 120px;
    }
    .icon.oclock::before {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../icons.svg/clock.svg);
    }
    .icon.diagram::before {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../icons.svg/diagram.svg);
    }
    .icon.astronaut::before {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../icons.svg/astronaut.svg);
    }
    .work {
        display: flex;
        gap: 30px;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .container-work .list {
        display: flex;
        /* align-items: center; */
    }
    .subtitle {
        justify-content: center;
        color: var(--h-headline-text-color);
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
    }
    .section-work {
        display: block;
        padding-bottom: 94px;
    }
    .work-thumb {
        position: relative;
        overflow: hidden;
    }
    .socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 44px;
        height: 44px;
        color:#FFFFFF;
        border-radius: 50%;
        background-color: rgba(77, 90, 229, 1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .socials-link:hover,
    .socials-link:focus {
        color:#FFFFFF;
        background-color: rgba(64, 75, 191, 1);
    }
    .socials-icon {
        fill: currentColor;
    }
  }
